@model GroupViewModel

<br />
<h2 class="text-info">@(Model.Groups.Id!=0 ? "Edit" : "Create") Group</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.Groups.Id != 0)
        {
            <input type="hidden" asp-for="Groups.Id" />
        }
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Groups.Tag"></label>
            </div>
            <div class="col-6">
                <select asp-for="Groups.Tag" asp-items="@(new SelectList(Model.GroupTag,"Tag","Tag"))" style="width: 200px; text-align: center">
                    <option>== Choose ==</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Groups.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Groups.Name" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Groups.Description"></label>
            </div>
            <div class="col-6">
                <input asp-for="Groups.Description" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Groups.Id != 0 ? "Update" : "Create")
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Group" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}