@model DataAccess.SMDB.SmsConfig

<hr />
<div class="text-center">
    <h2 class="text-dark">@(Model.Id!=0 ? "Edit" : "Create") SMS</h2>
</div>
<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="form-group row">
            <div class="col-3">
                Type
            </div>
            <div class="col-6">
                @*@if (Model.AlertConfigId == 1)
                {
                    <input class="form-control" value="Alert when services down" disabled="disabled" />
                }
                else if (Model.AlertConfigId == 2)
                {
                    <input class="form-control" value="Alert when services up" disabled="disabled" />
                }
                else
                {*@
                    <select asp-for="AlertConfigId" class="form-control">
                        <option value="1">Alert when services down</option>
                        <option value="2">Alert when services up</option>
                    </select>
                @*}*@
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="AccountName"></label>
            </div>
            <div class="col-6">
                <input asp-for="AccountName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Mobile"></label>
            </div>
            <div class="col-6">
                <input asp-for="Mobile" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Message">Message</label>
            </div>
            <div class="col-6">
                <textarea asp-for="Message" class="form-control" rows="3">
                    </textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="DataSign">DataSign</label>
            </div>
            <div class="col-6">
                <input asp-for="DataSign" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id != 0 ? "Update" : "Create")
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Alert" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>