################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServicesMonitor/SMDB/SMDB.dbmdl
