<div class="col-6">
    <p><h2 class="text-dark">SERVICES</h2></p>
</div>
@*<p style="width: 200px">
    <a asp-action="Index" asp-controller="Monitor" class="btn btn-dark form-control text-light">
        Refresh health check
    </a>
</p>*@
<hr/>
<div class="col-5">
    <select id="DDL_Load" class="form-control">
        <option value="0">Select group</option>
    </select>
</div>
<div class="p-3">
   
    <div class="form-group row pr-5">
        <table id="DT_load" class="table table-striped table-bordered w-100">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Url</th>
                <th class="text-center">Status</th>
                <th class="text-center">UpdatedTime</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/services.js"></script>
}