<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MONITOR SYSTEM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert.min.css" />
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Monitor" asp-action="Index">1FINTECH</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Monitor" asp-action="Index">DASHBOARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Monitor" asp-action="Index">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    </header>
    <div>
        <!-- Vertical navbar -->
        <div class="vertical-nav bg-dark" id="sidebar">
            <div class="py-4 px-3 mb-4 bg-light">
                @*<div class="media d-flex align-items-center">
            <img src="images/no-avatar.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h4 class="m-0">Jason Doe</h4>
                <p class="font-weight-light text-muted mb-0">Web developer</p>
            </div>
        </div>*@
                <a class="navbar-brand text-dark font-weight-bold text-uppercase" asp-area="" asp-controller="Monitor" asp-action="Index"><h4 class="m-0">1Fintech</h4></a>
            </div>

            <p class="text-white font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

            <ul class="nav flex-column bg-dark mb-0">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white font-italic bg-dark font-weight-bold" style="background-color: #1d2124 !important">
                        <i class="fa fa-pie-chart mr-3 fa-fw"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-italic" asp-controller="Services" asp-action="Index">
                        <i class="fa fa-server mr-3 fa-fw"></i>
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white font-italic" data-toggle="collapse" data-target="#subConfigs">
                        <i class="fa fa-cubes mr-3 fa-fw"></i>
                        Configurations
                    </a>
                    <div class="collapse" id="subConfigs" aria-expanded="false">
                        <ul class="flex-column nav pl-4">
                            <li class="nav-item">
                                <a class="nav-link text-white font-italic" asp-controller="Config" asp-action="Group">
                                    <i class="fa fa-fw fa-group"></i> Group
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white font-italic" asp-controller="Config" asp-action="Service">
                                    <i class="fa fa-fw fa-puzzle-piece"></i> Service
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white font-italic" asp-controller="Config" asp-action="User">
                                    <i class="fa fa-fw fa-user-o"></i> User
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white font-italic" asp-controller="Config" asp-action="Alert">
                                    <i class="fa fa-fw fa-heartbeat"></i> Alert
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
        <!-- End vertical navbar -->
        <main role="main" class="pb-3">
            <div class="page-content p-5" id="content">
            <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>    
                @RenderBody()
            </div>
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - 1FINTECH MONITORING SYSTEM
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toggle.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
